Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

Add RecordLibrary
  contracts/libraries/RecordLibrary.sol
Due: prettier --write, solhint

Increment patch version [skip ci]
  package.json
Due: none

Update README
  README.md
Due: none

Include additional commands to README
  README.md
Due: none

Lint README
  README.md
Due: none

Update README.md
  README.md
Due: none

Revert README changes
  README.md
Due: none

Update documentation syntax
  contracts/RecordStorage.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/IERC165.sol
  contracts/interfaces/IERC20.sol
  contracts/interfaces/IERC721.sol
  contracts/interfaces/IERC721Receiver.sol
Due: prettier --write, solhint

Upgrade packages
  yarn.lock
Due: none

Update deployment options documentation
  scripts/deployment/options.ts
Due: prettier --write, eslint

Add libraries to deployment options
  scripts/deployment/options.ts
Due: prettier --write, eslint

Update packages
  yarn.lock
Due: none

Fix typescript warnings
  scripts/deployment/deploy.ts
  scripts/integration/run.ts
Due: prettier --write, eslint

Update solhint rules
  configurations/solhint.json
Due: none

Remove solhint warnings related to timestamp and assembly usage
  configurations/solhint.json
Due: none

Update .gitignore
  .gitignore
Due: none

Refactor contract constructor arguments
  contracts/DomainRegistry.sol
  contracts/RecordStorage.sol
  contracts/structs/settings/DomainRegistrySettings.sol
  contracts/structs/settings/RecordStorageSettings.sol
Due: prettier --write, solhint

Add DomainEditor struct
  contracts/structs/DomainEditor.sol
Due: prettier --write, solhint

Path conditions:
  prettier --write: (any of: *.sol) or (any of: *.ts)
  solhint: any of: *.sol
  eslint: any of: *.ts
