Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

.lintstagedrc.json:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.ts": ["prettier --write", "eslint"]
}

Add automatic insertion of licenses into contracts
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

Set hardhat explicitly as the default network
  hardhat.config.ts
Due: prettier --write, eslint

Add code coverage script
  .gitignore
  .solcover.js
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

Add cleanup script
  package.json
Due: none

Add plugin for gas measurement
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

Update code coverage script
  .gitignore
  .solcover.js
  package.json
Due: none

Add Etherscan source code verification plugin
  hardhat.config.ts
  package.json
Due: prettier --write, eslint

Add script for measuring contract sizes
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

Fix issues with typechain synchronization
  .solcover.js
  hardhat.config.ts
  package.json
Due: prettier --write, eslint

Add NatSpec documentation generator
  hardhat.config.ts
  package.json
  yarn.lock
Due: prettier --write, eslint

Move unit tests into separate directory
  hardhat.config.ts
  package.json
Due: prettier --write, eslint

Refactor yarn scripts
  hardhat.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Move configuration files into separate directory
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .solcover.js
  conf/eslintrc.json
  conf/hardhat.ts
  conf/lintstagedrc.json
  conf/prettierrc.json
  conf/requirements.txt
  conf/solcover.js
  conf/solhint.json
  package.json
  tsconfig.json
Due: prettier --write, eslint

Update packages
  .husky/.gitignore
  conf/requirements.txt
  yarn.lock
Due: none

Add OpenZeppelin contracts
  package.json
  yarn.lock
Due: none

Add ERC-165 interface
  conf/hardhat.ts
  src/interfaces/IERC165.sol
Due: prettier --write, solhint, eslint

Add ERC-721 interface
  src/interfaces/standards/IERC165.sol
  src/interfaces/standards/IERC721.sol
Due: prettier --write, solhint

Add IDomainRegistry interface
  src/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Upgrade npm packages
  yarn.lock
Due: none

Add DomainRegistry skeleton implementation
  src/DomainRegistry.sol
  src/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Add modifiers and implements some functions
  src/DomainRegistry.sol
  src/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Update scripts
  .gitignore
  conf/pre-commit
  package.json
Due: none

Update formatting and linting scripts
  .gitignore
  conf/eslint.json
  conf/lintstaged.json
  conf/lintstagedrc.json
  conf/pre-commit
  conf/pre-commit.sh
  conf/prettier.json
  conf/prettierignore
  package.json
  yarn.lock
Due: none

Update contract interfaces
  src/DomainRegistry.sol
  src/interfaces/IDomainRegistry.sol
  src/interfaces/standards/IERC165.sol
Due: prettier --write, solhint

Add ERC-20 interface
  src/DomainRegistry.sol
  src/interfaces/standards/IERC20.sol
  src/interfaces/standards/IERC721.sol
Due: prettier --write, solhint

Add sample unit test
  conf/hardhat.ts
  src/DomainRegistry.sol
  test/unit/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Increment package version
  package.json
Due: none

Add pipeline skeleton
  .github/workflows/main.yml
Due: none

Refactor workflow jobs
  .github/workflows/main.yml
Due: none

Set publish as optional jobs
  .github/workflows/main.yml
Due: none

Add Dockerfile
  conf/Dockerfile
  package.json
Due: none

Add steps for building and pushing docker image
  .github/workflows/main.yml
Due: none

Update unit testing job
  .github/workflows/main.yml
Due: none

Add Dockerfile entry point
  conf/Dockerfile
Due: none

Update Dockerfile
  .github/workflows/main.yml
  conf/Dockerfile
Due: none

Remove docker containers from workflow
  .github/workflows/main.yml
  package.json
Due: none

Add job for running unit tests
  .github/workflows/main.yml
Due: none

Add cron job for automatic package upgrades
  .github/workflows/main.yml
  .github/workflows/upgrade.yml
Due: none
