Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

.lintstagedrc.json:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.ts": ["prettier --write", "eslint"]
}

Add Refresh event to DomainRegistry interface
  contracts/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Add guarded transfer function
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Fix event emission
  contracts/DomainRegistry.sol
  contracts/libraries/DomainService.sol
Due: prettier --write, solhint

Upgrade packages
  yarn.lock
Due: none

Add example integration test
  tests/integration/run.ts
Due: prettier --write, eslint

Increment patch version [skip ci]
  package.json
Due: none

Add unit tests for DomainRegistry
  configurations/hardhat.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Remove redundant mapping update
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Fix logical error when checking if domains are public
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Convert domain duration from constant to immutable
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Move initialization functions into the constructor
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Add unit test scenarios for claiming existing domains
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Add domain duration to deployment options
  scripts/deployment/options.ts
Due: prettier --write, eslint

Change casing of immutable state variables
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Fix variable names
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Reuse constructor arguments in unit tests
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Replace array constructor arguments with predefined structs
  contracts/DomainRegistry.sol
  contracts/RecordStorage.sol
  contracts/structs/DomainRegistryOptions.sol
  contracts/structs/RecordStorageOptions.sol
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Add unit test scenarios for refreshing domain
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Increase number of hardhat accounts
  configurations/hardhat.ts
Due: prettier --write, eslint

Extract typescript constants into separate file
  scripts/constants.ts
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Move integration tests into script folder
  package.json
  scripts/integration/run.ts
  scripts/integration/utility.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Remove nested describes
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Refactor file locations
  configurations/hardhat.ts
  scripts/constants.ts
  scripts/constants/contracts.ts
  scripts/constants/events.ts
  scripts/constants/libraries.ts
  scripts/deployment/options.ts
  scripts/integration/run.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Change order of domain ownership checks
  contracts/DomainRegistry.sol
  package.json
Due: prettier --write, solhint

Add unit tests for transferring domains
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Update IERC20 parameter names
  contracts/interfaces/IERC20.sol
Due: prettier --write, solhint

Add tsconfig.json
  scripts/integration/utility.ts
  tsconfig.json
Due: prettier --write, eslint

Fix deprecation warnings
  yarn.lock
Due: none

Replace modifiers with errors
  configurations/eslint.json
  configurations/solhint.json
  contracts/DomainRegistry.sol
  contracts/errors/DomainErrors.sol
  contracts/errors/ValidationErrors.sol
  contracts/libraries/DomainLibrary.sol
  contracts/libraries/DomainOwnerService.sol
  contracts/libraries/DomainService.sol
  contracts/libraries/Utility.sol
  contracts/libraries/UtilityLibrary.sol
  scripts/constants/errors.ts
  scripts/constants/events.ts
  scripts/integration/utility.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Temporarily disable slither scans
  .github/workflows/ci.yml
Due: none

Add test specifications for safeTransferFrom functions
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Add unit tests for domain approval
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Comment unused unit tests
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint
