Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

.lintstagedrc.json:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.ts": ["prettier --write", "eslint"]
}

Increment patch version [skip ci]
  package.json
Due: none

Fix registry-url typo
  .github/workflows/main.yml
Due: none

Change package upgrade credentials
  .github/workflows/upgrade.yml
Due: none

Add workflow for manual deployment
  .github/workflows/deploy.yml
Due: none

Remove PEEWEE_TOKEN reference
  .github/workflows/main.yml
Due: none

Add ropsten and mainnet to hardhat networks
  conf/hardhat.ts
Due: prettier --write, eslint

Remove workflow_dispatch for upgrade workflow
  .github/workflows/upgrade.yml
Due: none

Reintroduce PEEWEE_TOKEN
  .github/workflows/main.yml
  .github/workflows/upgrade.yml
Due: none

Add script for deploying contracts
  package.json
  scripts/deploy.ts
Due: prettier --write, eslint

Add environment variables to the deployment workflow
  .github/workflows/deploy.yml
Due: none

Implement basic deployment script
  package.json
  scripts/deploy.ts
  test/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Add dynamic gas limit and gas price
  scripts/deploy.ts
Due: prettier --write, eslint

Run linter
  scripts/deploy.ts
Due: prettier --write, eslint

Add logging
  scripts/deploy.ts
Due: prettier --write, eslint

Update ERC-165 parameter names
  src/interfaces/standards/IERC165.sol
Due: prettier --write, solhint

Update ERC-20 parameter names
  src/interfaces/standards/IERC20.sol
Due: prettier --write, solhint

Update ERC-721 interface
  src/interfaces/standards/IERC721.sol
Due: prettier --write, solhint

Update IDomainRegistry parameter names
  src/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Run linter
  src/interfaces/standards/IERC20.sol
Due: prettier --write, solhint

Include integration tests into the main workflow
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  package.json
Due: none

Refactor names of directories
  .gitignore
  conf/lintstaged.json
  conf/pre-commit.sh
  conf/prettierignore
  configurations/Dockerfile
  configurations/eslint.json
  configurations/hardhat.ts
  configurations/lintstaged.json
  configurations/pre-commit.sh
  configurations/prettier.json
  configurations/prettierignore
  configurations/requirements.txt
  configurations/solcover.js
  configurations/solhint.json
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/standards/IERC165.sol
  contracts/interfaces/standards/IERC20.sol
  contracts/interfaces/standards/IERC721.sol
  package.json
  tests/unit-tests/DomainRegistry.spec.ts
  yarn.lock
Due: prettier --write, solhint, eslint

Fix minor issues with pathing
  configurations/hardhat.ts
  package.json
  tests/unit/DomainRegistry.spec.ts
  yarn.lock
Due: prettier --write, eslint

Add contract linking to the deployment script
  configurations/hardhat.ts
  package.json
  scripts/deploy.ts
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
  yarn.lock
Due: prettier --write, eslint

Add dependent contract
  contracts/RecordStorage.sol
Due: prettier --write, solhint

Update hardfort to 'london'
  configurations/hardhat.ts
Due: prettier --write, eslint

Remove gas limit and gas price
  scripts/deployment/deploy.ts
Due: prettier --write, eslint

Remove EthGasStation
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  configurations/hardhat.ts
  scripts/deployment/deploy.ts
Due: prettier --write, eslint

Finish migration of the deployment script to the london hardfork
  package.json
  scripts/deployment/deploy.ts
  yarn.lock
Due: prettier --write, eslint

Remove unnecessary type references
  scripts/deployment/deploy.ts
Due: prettier --write, eslint
