Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

Update solhint rules
  configurations/solhint.json
Due: none

Remove obsolete Dockerfile
  configurations/Dockerfile
Due: none

Rename Record to DomainRecord
  contracts/libraries/RecordLibrary.sol
  contracts/structs/DomainRecord.sol
Due: prettier --write, solhint

Increment patch version [skip ci]
  package.json
Due: none

Upgrade packages
  yarn.lock
Due: none

Remove underscore prefix from state variables
  contracts/DomainRegistry.sol
  contracts/RecordStorage.sol
Due: prettier --write, solhint

Refactor typescript enums
  scripts/deployment/options.ts
  scripts/enums.ts
  scripts/enums/contracts.ts
  scripts/enums/events.ts
  scripts/enums/libraries.ts
  scripts/integration/run.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Set constructor argument variables as immutable
  contracts/RecordStorage.sol
Due: prettier --write, solhint

Move domain separator into constructor arguments
  contracts/DomainRegistry.sol
  contracts/errors/ValidationErrors.sol
  contracts/libraries/DomainLibrary.sol
  contracts/libraries/UtilityLibrary.sol
  contracts/structs/settings/DomainRegistrySettings.sol
  scripts/deployment/options.ts
  scripts/enums/errors.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Upgrade packages manually
  yarn.lock
Due: none

Add DomainOwner library
  contracts/DomainRegistry.sol
  contracts/libraries/DomainLibrary.sol
  contracts/libraries/DomainOwnerLibrary.sol
Due: prettier --write, solhint

Refactor DomainLibrary
  contracts/libraries/DomainLibrary.sol
  contracts/libraries/DomainOwnerLibrary.sol
Due: prettier --write, solhint

Update evmVersion to 'london'
  configurations/hardhat.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.sol) or (any of: *.ts)
  solhint: any of: *.sol
  eslint: any of: *.ts
