Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

.lintstagedrc.json:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.ts": ["prettier --write", "eslint"]
}

Change format of contract configuration and deployment output
  configurations/hardhat.ts
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
Due: prettier --write, eslint

Remove Etherscan verification due to issues
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
Due: prettier --write, eslint

Increment patch version [skip ci]
  package.json
Due: none

Add integration tests
  configurations/hardhat.ts
  package.json
  scripts/deployment/deploy.ts
  tests/integration/run.ts
  tests/integration/utility.ts
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Extend scope of environment variables
  .github/workflows/main.yml
Due: none

Add network parameter for integration tests
  .github/workflows/main.yml
Due: none

Update main workflow
  .github/workflows/main.yml
  package.json
Due: none

Add Slither SAST
  .github/workflows/main.yml
  package.json
Due: none

Update the README
  README.md
Due: none

Rename main workflow
  .github/workflows/ci.yml
Due: none

Run linter
  README.md
Due: none

Update name of CI workflow
  .github/workflows/ci.yml
Due: none

Update README
  README.md
Due: none

Update README (again)
  README.md
Due: none

Update ERC-721 documentation
  contracts/interfaces/standards/IERC721.sol
Due: prettier --write, solhint

Add Domain library
  contracts/libraries/Domain.sol
Due: prettier --write, solhint

Cleanup DomainRegistry contract
  contracts/DomainRegistry.sol
  contracts/libraries/Domain.sol
Due: prettier --write, solhint

Add utility library
  contracts/libraries/Utility.sol
Due: prettier --write, solhint

Add DomainOwner library
  contracts/libraries/DomainOwner.sol
Due: prettier --write, solhint

Remove example unit test
  tests/unit/DomainRegistry.spec.ts
Due: prettier --write, eslint

Separate state from libraries
  contracts/DomainRegistry.sol
  contracts/libraries/Domain.sol
  contracts/libraries/DomainOwner.sol
  contracts/libraries/DomainService.sol
  contracts/libraries/Utilities.sol
  contracts/structs/Domain.sol
  contracts/structs/DomainOwner.sol
Due: prettier --write, solhint

Update return parameters of interfaces
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/standards/IERC165.sol
  contracts/interfaces/standards/IERC20.sol
  contracts/interfaces/standards/IERC721.sol
Due: prettier --write, solhint

Reduce severity of time-related errors in solhint configuration
  configurations/solhint.json
Due: none

Refactor DomainRegistry
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/standards/IERC20.sol
  contracts/interfaces/standards/IERC721.sol
  contracts/libraries/DomainService.sol
  contracts/structs/Domain.sol
  contracts/structs/DomainRegistryState.sol
Due: prettier --write, solhint

Remove standards folder
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/IERC165.sol
  contracts/interfaces/IERC20.sol
  contracts/interfaces/IERC721.sol
Due: prettier --write, solhint

Implement domain creation
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/libraries/DomainService.sol
  contracts/libraries/Utilities.sol
  contracts/structs/Domain.sol
  contracts/structs/DomainRegistryState.sol
Due: prettier --write, solhint

Implement more DomainRegistry functions
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/libraries/DomainService.sol
  contracts/libraries/Utilities.sol
  contracts/structs/Domain.sol
  contracts/structs/DomainRegistryState.sol
Due: prettier --write, solhint

Refactor creation and transferrals of domains
  configurations/solhint.json
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
  contracts/interfaces/IERC721Receiver.sol
  contracts/libraries/DomainOwnerService.sol
  contracts/libraries/DomainService.sol
  contracts/libraries/Utility.sol
  contracts/structs/Domain.sol
  contracts/structs/DomainOwner.sol
Due: prettier --write, solhint

Update job names of CI workflow
  .github/workflows/ci.yml
Due: none

Update workflow job dependencies
  .github/workflows/ci.yml
Due: none

Implement ERC721 receiver check
  contracts/DomainRegistry.sol
  contracts/interfaces/IERC721.sol
  contracts/libraries/DomainOwnerService.sol
  contracts/libraries/Utility.sol
Due: prettier --write, solhint

Implement all other DomainRegistry functions
  contracts/DomainRegistry.sol
Due: prettier --write, solhint
