Repository vbidin/namespace: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint

Update deployment script logging
  scripts/deployment/deploy.ts
Due: prettier --write, eslint

Increment patch version [skip ci]
  package.json
Due: none

Include check for identical addresses when approving domains
  contracts/DomainRegistry.sol
  contracts/errors/DomainErrors.sol
  scripts/constants/errors.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Add unit tests for operator updates
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Remove hardcoded constants from unit tests
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Update syntax of constants and enums
  contracts/DomainRegistry.sol
  contracts/errors/DomainErrors.sol
  scripts/constants/contracts.ts
  scripts/constants/errors.ts
  scripts/constants/events.ts
  scripts/constants/libraries.ts
  scripts/deployment/deploy.ts
  scripts/deployment/options.ts
  scripts/enums/contracts.ts
  scripts/enums/errors.ts
  scripts/enums/events.ts
  scripts/enums/libraries.ts
  scripts/integration/run.ts
  scripts/integration/utility.ts
  tests/DomainRegistry.spec.ts
Due: prettier --write, solhint, eslint

Update ERC interfaces
  contracts/interfaces/IERC165.sol
  contracts/interfaces/IERC721.sol
Due: prettier --write, solhint

Add unit tests for nameOf, idOf, and ownerOf functions
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Update .gitattributes
  .gitattributes
Due: none

Rename _getDomainOwner to _getOrCreateDomainOwner
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Add domain lists
  scripts/deployment/domains.ts
Due: prettier --write, eslint

Upgrade packages
  yarn.lock
Due: none

Increment number of domains when creating root domain
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Add unit tests for testing owner balances
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Add unit tests for getApproved function
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Update getApproved to throw exception on public domains
  contracts/DomainRegistry.sol
Due: prettier --write, solhint

Add unit tests for isApprovedForAll function
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Extract data and utility functions from unit tests
  tests/DomainRegistry.spec.ts
  tests/shared/data.ts
  tests/shared/utility.ts
Due: prettier --write, eslint

Remove unused imports
  tests/DomainRegistry.spec.ts
Due: prettier --write, eslint

Add unit tests for supportsInterface function
  tests/DomainRegistry.spec.ts
  tests/shared/data.ts
Due: prettier --write, eslint

Add a release function that updates a private domain to a public domain
  contracts/DomainRegistry.sol
  contracts/interfaces/IDomainRegistry.sol
Due: prettier --write, solhint

Update IDomainRegistry interfaceId
  tests/shared/data.ts
Due: prettier --write, eslint

Add IRecordStorage interface
  contracts/interfaces/IRecordStorage.sol
Due: prettier --write, solhint

Add RecordStorage inheritace
  contracts/RecordStorage.sol
Due: prettier --write, solhint

Add RecordErrors
  contracts/errors/RecordErrors.sol
Due: prettier --write, solhint

Add Record struct
  contracts/structs/Record.sol
Due: prettier --write, solhint

Path conditions:
  prettier --write: (any of: *.sol) or (any of: *.ts)
  solhint: any of: *.sol
  eslint: any of: *.ts
